<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>经纪人列表</title>
</head>
<body>
    <div class="customer-list-view">
        <table id="dataTable"></table>
    </div>

    <div id="auditView" style="display: none;min-width: 100%;width: 100%;min-height: 100%; height: 100%; padding-top: 10%; padding-left: 20%;" >
        <label>
            <input type="radio" name="audit" id="audit1" value="1"> 装修中
        </label>
        <label>
            <input type="radio" name="audit" id="audit2" value="2"> 装修完工
        </label>
        <label>
            <input type="radio" name="audit" id="audit3" value="3"> 洽谈失败
        </label>
        <label> 备注:
            <textarea class="form-control" rows="3" id="auditRemarks"></textarea>
        </label>
    </div>

    <script src="js/customer/customer_list.js"></script>
</body>

</html>