<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改经济人信息</title>
</head>
<body>
    <div class="broker-edit-view">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">姓名:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="brokerName" id="brokerName">
                </div>
            </div>
            <div class="form-group">
                <label for="brokerPhone" class="col-sm-2 control-label">电话:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="brokerPhone" id="brokerPhone">
                </div>
            </div>
            <div class="form-group">
                <label for="brokerIdCard" class="col-sm-2 control-label">身份证号:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="brokerIdCard" id="brokerIdCard">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性别:</label>
                <div class="col-sm-10">
                    <label>
                        <input type="radio" name="brokerSex" id="brokerSex0" value="0" checked> 女
                    </label>
                    <label>
                        <input type="radio" name="brokerSex" id="brokerSex1"value="1"> 男
                    </label>

                </div>
            </div>

            <div class="form-group">
                <label for="brokerAddress" class="col-sm-2 control-label">现住址:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="brokerAddress" id="brokerAddress">
                </div>
            </div>

            <div class="form-group">
                <label for="homeAddress" class="col-sm-2 control-label">家庭住址:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="homeAddress" id="homeAddress">
                </div>
            </div>

            <button type="button" onclick="updateSubmit()">提交</button>
            <button type="button" onclick="updateCancel()">取消</button>
        </form>
    </div>

<script src="js/broker/broker_edit.js"></script>
</body>
</html>