<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例修改</title>
</head>
<body>
    <div class="case-edit-view">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">标题:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="caseTitle" id="caseTitle">
                </div>
            </div>
            <div class="form-group">
                <label for="caseStyle" class="col-sm-2 control-label">风格:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="caseStyle" id="caseStyle">
                </div>
            </div>
            <div class="form-group">
                <label for="caseDesc" class="col-sm-2 control-label">描述:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="caseDesc" id="caseDesc">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">图片:</label>
                <div class="col-sm-10">
                    <div class="case-imgs" id="caseImgs">
                        
                    </div>
                    <a href="javascript:void(0);" class="btn btn-info btn-lg" onclick="selectCaseImg()">
                        <span class="glyphicon glyphicon-picture" style="font-size: 50px;"></span>
                        <!--<span class="glyphicon glyphicon-plus" style="left: -23px;color: #2aabd2;border: 1px solid #2aabd2; border-radius: 45%"></span>-->
                    </a>
                    <input type="file" name="file" style="display: none" id="file" accept="image/*" onchange="uploadCaseImg()">
                    <!--<button type="button" onclick="uploadCaseImg()">上传</button>-->
                </div>
            </div>


            <button type="button" onclick="updateSubmit()">提交</button>
            <button type="button" onclick="updateCancel()">取消</button>
        </form>
    </div>
    
    <div style="display: none" id="caseImgsTemp">
        <img src="{0}" style="width: 100px;height: 100px">
    </div>
    
    <script type="text/javascript" src="js/case/case_edit.js"></script>
</body>
</html>