<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<body>
    <div>登录页</div>
    <div>
        <div>
            <label>登录名 :</label>
            <input type="text" name="userNo"/>
        </div>
        <div>
            <label>密 &nbsp; 码 :</label>
            <input type="password" name="password"/>
        </div>
    </div>
</body>
<script type="text/javascript" src="static/js/plugin/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/js/plugin/layer/layer.js"></script>
</html>