<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>后台</title>
    <link rel="stylesheet" href="css/plugin/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
    <div class="main-view">

        <div class="main-head">

        </div>

    </div>


    <script src="js/plugin/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/plugin/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugin/layer/layer.js"></script>
</body>
</html>