<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>后台</title>
    <link rel="stylesheet" href="css/plugin/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
    <div class="main-view">

        <div class="main-head">
            <div class="head-logo">
                <img src="img/1.jpg" style="width: 150px;height: 100px;">
            </div>
            <div class="head-info">
                <!--<button class="msg-btn">-->
                    <!---->
                <!--</button>-->
                <span class="glyphicon glyphicon-bell" style="font-size: 32px;margin-top: 5px;"></span>

                <button class="msg-btn">
                    <span class="glyphicon glyphicon-user" style="font-size: 20px;"></span>
                </button>
                <label>userName</label>
            </div>
        </div>


    </div>


    <script src="js/plugin/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/plugin/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugin/layer/layer.js"></script>
</body>
</html>