<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="MySQL"/>
		<property name="fileRootPath" value="http://116.62.149.166/"></property>
	</properties>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	<mappers>
		<package name="dao"/>
	</mappers>
</configuration>