<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broker.dao.InviteFriendMapper">
  <resultMap id="BaseResultMap" type="com.broker.domain.InviteFriend">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="broker_user" jdbcType="INTEGER" property="brokerUser" />
    <result column="friend_phone" jdbcType="VARCHAR" property="friendPhone" />
    <result column="friend_id" jdbcType="VARCHAR" property="friendId" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, broker_user, friend_phone, friend_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invite_friend
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from invite_friend
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broker.domain.InviteFriend">
    <selectKey keyProperty="uid" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invite_friend (uid, broker_user, friend_phone, 
      invite_source)
    values (#{uid,jdbcType=INTEGER}, #{brokerUser,jdbcType=INTEGER}, #{friendPhone,jdbcType=VARCHAR}, 
      #{inviteSource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broker.domain.InviteFriend">
    <selectKey keyProperty="uid" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invite_friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      uid,
      <if test="brokerUser != null">
        broker_user,
      </if>
      <if test="friendPhone != null">
        friend_phone,
      </if>
      <if test="inviteSource != null">
        invite_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{uid,jdbcType=INTEGER},
      <if test="brokerUser != null">
        #{brokerUser,jdbcType=INTEGER},
      </if>
      <if test="friendPhone != null">
        #{friendPhone,jdbcType=VARCHAR},
      </if>
      <if test="inviteSource != null">
        #{inviteSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broker.domain.InviteFriend">
    update invite_friend
    <set>
      <if test="brokerUser != null">
        broker_user = #{brokerUser,jdbcType=INTEGER},
      </if>
      <if test="friendPhone != null">
        friend_phone = #{friendPhone,jdbcType=VARCHAR},
      </if>
      <if test="inviteSource != null">
        invite_source = #{inviteSource,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broker.domain.InviteFriend">
    update invite_friend
    set broker_user = #{brokerUser,jdbcType=INTEGER},
      friend_phone = #{friendPhone,jdbcType=VARCHAR},
      invite_source = #{inviteSource,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>